html {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 749px;
    width: 497px;
    margin: 10px;
    background-color: #f2f2f2;
    padding-top: 20px;
    text-align: center;
  }

  .container {
    background-color: #fff;
    background-repeat: no-repeat;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: 25px;
  }

  h2 {
    margin-bottom: 20px;
  }
  
.header {
    background-color: #34ff85;

    height: 120px;
    border-radius: 15px;
    border: #000;
}

  .input-field {
    display: block;
    width: 95%;
    height: 7px;
    padding: 10px;
    margin-bottom: 10px;
    border: 4px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.1);
  }

  .button-container {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
  }
  
  .button-row, .button-column {
    display: flex;
    margin: 10px;
  }
  
  .button {
    width: 58.516px;
    height: 48.302px;
    flex-shrink: 0;
    background-color: #34ff85;
    border-radius: 14px;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
    border: none;
    margin-right: 10px;
    font-weight: 700;
  }
  
  .button:hover {
    background-color: #f2f2f2;
  }

footer {
  background-color: #34ff85;
  width: auto;
  width: 320px;
  height: 40px;
  padding-bottom: 10px;
}

.footer-content {
  color: #000;
  text-align: center;
  font-weight: 600;
}