html {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 749px;
    width: 497px;
    margin: 10px;
    background-color: #f2f2f2;
    padding-top: 20px;
    text-align: center;
  }

  .header {
    background-color: #34ff85;
    height: 120px;
    border-radius: 15px;
    border: #000;
    border-radius: 14px;
    margin-right: 20px;
    text-align: right;
}

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    max-width: 500px;
    padding: 20px;
  }

  .item {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 19px 0px #B6BEC0;
    transition: background-color 0.3s;
  }

  .item:hover {
    background-color: #f0f0f0;
  }

  .item img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 5px;
  }

  footer {
  background-color: #34ff85;
  width: auto;
  width: 320px;
  height: 40px;
  padding-bottom: 10px;
}

.footer-content {
  color: #000;
  text-align: center;
  font-weight: 600;
}