/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: 'Bebas Neue', Arial, sans-serif;
    background: #F5F5F5;
}

.header {
    text-align:right;
    padding: 2rem;
    margin-right: 20px;
}

header {
    background-color: #34FF85;
    color: white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    border-radius: 0 0 40px 40px;
}

header svg {
    display: inline-block;
}

.keranjang {
    display: inline-block;
    position: fixed;
    margin-left: 230px;
    margin-bottom: 50px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    width: 360px;
    height: 422px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.header-popup {
    width: 360px;
    height: 25px;
    background: #34FF85;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 26px;
    border-radius: 14px 14px 0 0;
}
  
.text-popup {
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}

.icon-popup {
    padding: 30px 0 20px 0;
    margin-left: 150px;
}

.close-button {
    width: 122.132px;
    height: 44px;
    border-radius: 14px;
    background-color: #34FF85;
    border: none;
    font-family: 'Bebas Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    box-shadow: 0px 0px 11px 0px rgba(255, 255, 255, 0.00);
    text-align: center;
    margin-left: 120px;
}

header p {
    color: #000;
    display: inline-block;
    font-size: 37px;
    margin-bottom:5px;
    font-weight: 400;
}

.judul {
    font-size: 48px;
    text-align: center;
    text-shadow: 0px 0px 14px #F2F2F2;
}

.judul2 {
    font-family: 'questrial-regular', sans-serif;
    color: #000;
    font-size: 12px;
    text-align: center;
    display: block;
}

.btn-mulai {
    width: 203px;
    height: 55px;
    border-radius: 14px;
    background: #34FF85;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
}

img {
    height: 400px;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
}

.tombol {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.btn-mulai {
    width: 203px;
    height: 55px;
    border-radius: 14px;
    background: #34FF85;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
}

.btn-masuk {
    width: 158px;
    height: 44px;
    border-radius: 14px;
    background: #FFDF34;
    box-shadow: 0px 0px 15px 0px #F2F2F2;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 60px;
}

.pilih-nomor {
    font-size: 22px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 40px;
}

.no-meja {
    margin-left: 30px;
}

.button {
    width: 58.516px;
    height: 48.302px;
    border-radius: 14px;
    background: #34FF85;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.33);
    font-family: 'Bebas Neue', Arial, sans-serif;
    border: none;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-left: 18px;
}

.button-row {
    margin-bottom: 18px;
}

.menu-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
}

.menu-item img {
    max-width: 100%;
}

.navbar-menu {
    width: 335px;
    height: 139px;
    border-radius: 21px;
    background: #FFF;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    padding-top:20px;
    padding-left:10px;
    padding-bottom: 60px;
    font-size: 22px;
    margin-top: 30px;
    margin-left: 23px;
}
 
.menu {
    width: 85px;
    height: 80px;
    border-radius: 14px;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
    margin-left: 14px;
}

.menu p {
    font-size: 22px;
    text-align: center;
    margin-top: 5px;
}

.gambar-menu img{
    width: 85px;
    height: 72px;
    border-radius: 14px;
    box-shadow: 0px 4px 4px 0px rgba(242, 242, 242, 0.25);
    background-image: url('/assets/gambar/Kategori/coffe-removebg-preview.png');
}

.text-menu {
    font-family: 'questrial-regular', sans-serif;
    font-size: 12px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.menu-unggulan {
    width: 312px;
    height: 146px;
    border-radius: 14px;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.50);
    margin-left: 37px;
    margin-bottom: 20px;
}

.unggulan img {
    width: 312px;
    height: 146px;
    border-radius: 14px;
}

.btn-kembali {
    width: 88px;
    height: 36px;
    border-radius: 14px;
    background: #34FF85;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    padding-top: 7px;
    text-align: center;
    margin-left: 49px;
    margin-top: 30px;
}

.form {
    width: 345px;
    height: 253px;
    border-radius: 41px;
    background: #FFF;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 23px;
}

.form-pemesanan {
    width: 335px;
    height: 139px;
    border-radius: 21px;
    background: #FFF;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 23px;
}

input[type="text"] {
    width: 310.032px;
    height: 27.466px;
    border-radius: 14px;
    border: 1px solid #000;
    background: #F5F5F5;
    box-shadow: 0px 0px 4px 0px #F2F2F2;
  }

.minuman {
    width: 225px;
    height: 47px;
    text-align: center;
    text-shadow: 0px 0px 5px #F2F2F2;
    font-size: 36px;
    margin-left: 83px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.minuman-row {
    display: inline-block;
}

.item-card {
    width: 151px;
    height: 233.250px;
    border-radius: 14px;
    box-shadow: 0px 4px 19px 0px #B6BEC0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 29px;
    margin-bottom: 20px;
}

.isi-card img {
    width: 151px;
    height: 131.546px;
    border-radius: 14px;
}

.judul-menu {
    width: 123px;
    height: 27px;
    text-align: center;
    font-size: 22px;
    margin-left: 13px;    
}

.ket {
    font-family: 'questrial-regular', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    margin-top: 5px;
}

.harga {
    width: 103px;
    height: 27px;
    font-size: 31px;
    font-weight: 400;
    margin-left: 27px;
    margin-top: 5px;

}

.btn-tambah {
    width: 88px;
    height: 36px;
    border-radius: 14px;
    background: #34FF85;
    box-shadow: 0px 0px 15px 0px #F2F2F2;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    padding-top: 8px;
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
}

footer {
    background-color: #34FF85;
    color: black;
    text-align: center;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 40px;
}

.footer {
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 70px;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Responsive styles */
@media (max-width: 768px) {
    .menu-items {
        padding: 1rem;
    }
    
    .menu-item {
        flex-basis: 45%;
    }
    
    .header {
        margin-right: 30px;
    }

    .btn-mulai {
        width: 203px;
        height: 55px;
        border-radius: 14px;
        background: #34FF85;
        box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.25);
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top:60px ;
    }
}
